{% extends 'department/base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">
        <div class="card-header">
            <h3 class="mb-0">Book Details</h3>
        </div>

        <div class="card-body">

            <p><strong>Book Name:</strong> {{ book.title|upper }}</p>

            <p><strong>Author:</strong> {{ book.author.name|upper }}</p>

            <p><strong>ISBN:</strong> {{ book.isbn }}</p>

            <p><strong>Total Copies:</strong> {{ book.copies_total }}</p>

            <p><strong>Available Copies:</strong> {{ book.copies_available }}</p>

            <p>
                <strong>Status:</strong>
                {% if book.copies_available > 0 %}
                    <span class="badge bg-success">Available</span>
                {% else %}
                    <span class="badge bg-danger">Not Available</span>
                {% endif %}
            </p>

            <div class="d-flex gap-2 mt-4">
                <a href="{% url 'view_books' %}" class="btn btn-secondary">
                    Back
                </a>
                <form method="POST" action="{% url 'borrow' book.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">
                        Borrow
                    </button>
                </form>
               <form method="POST" action="{% url 'return' book.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">
                        Return
                    </button>
                </form>
            </div>

        </div>
    </div>

</div>

{% endblock %}