{% extends 'department/base.html' %}
{% block content %}
  <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <form class="d-flex" role="search" action="{% url "search" %}" method="get">
                            <input class="form-control me-2" name="query" id="query" type="search" placeholder="Search for author or title" aria-label="Search">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                
<table class="table table-bordered table-hover align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col">S.N</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author</th>
      <th scope="col">Availability</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for book in page_obj %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url 'details' book.id %}">{{ book.title|upper }}</a></td>
      <td>{{ book.author.name|upper }}</td>
      <td>
        {% if book.is_available %}
          <span class="badge bg-success">Available | In Stock: {{ book.copies_available }}</span>
        {% else %}
          <span class="badge bg-danger">Out of Stock | Remaining: {{ book.copies_available }}</span>
        {% endif %}
      </td>
      <td>
        <a href="{% url "delete" book.id %}" class="btn btn-sm btn-danger">Delete</a>
        <a href="{% url "update" book.id %}" class="btn btn-sm btn-primary">Update</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" class="text-center text-muted">No books found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}